
/*--------------------------------------------------------------
.AA GLOBAL STARTS
--------------------------------------------------------------*/

body, html{
    height: 2000px;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    // color: var(--white);
    letter-spacing: .03em;
}

.j-container{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

span:focus{ // Remove after blocs search is intsalled
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.pt-0{
    padding: 0 15px;
}

.pt-15{
    padding: 15px 15px;
}

.pt-25{
    padding: 25px 15px;
}

.pt-30{
    padding: 30px 15px;
}

.j-row{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nudge-left-5{
    margin-left: -5px !important;
}

.color-sky{
    background: var(--blueSky);
}
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.z-index-3{
    z-index: 3;
}
.z-index-4{
    z-index: 4;
}
.z-index-5{
    z-index: 5;
}
.z-index-6{
    z-index: 6;
}

.revealElem{
    opacity: 1 !important;
}

/*--------------------------------------------------------------
.AA GLOBAL ENDS
--------------------------------------------------------------*/


.jcco-logo-container{
    position: relative;
    box-sizing: border-box;
    height: 210px;
    margin: 40px 0 0 0;
    width: 285px;
    cursor: pointer;

    img{
        position: absolute;
        top:calc(50% - 20px);
        transform: translateY(-50%); 
    }
}

.bobbie{
    position: relative;
}

.bobbie img{
    position: absolute;
    height: 220px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer; 
}

.search{
    position: relative;
    margin: 40px 0 0 0;
    height: 210px;
    
    .search-container{
        position: absolute;
        width: 280px;
        height: 32px;
        top: calc(50% - 20px);
        right:0;
        transform: translateY(-50%); 

        .bobbie-quote{ /*-- Quote --*/
            position: absolute;
            bottom: 0;
            right: 0;
        } 

        .j-searchField{
            position: absolute;
            top: 0;
            width: 100%;
            height: 30px;
            box-sizing: border-box;
            border-radius: 20px;
            border: 1px solid #266ED3;
            overflow: hidden;
            background-color: var(--blueSearch);
            transition: box-shadow .1s linear;

            span{
                position: absolute;
                color:var(--white);
                opacity: .8;
                width: 230px;
                font-size: 13px;
                letter-spacing: .04em;
                left:10px;
                top:50%;
                transform: translateY(-50%);
            }

            .magnify-glass-box{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                border-radius: 30px;
                right: 2px;
                height: 30px;
                width: 30px;
                cursor: pointer;

                img{ /*-- Magnifying Glass Icon --*/
                    width: 16px;
                    position: absolute;
                    left:50%;
                    top:calc(50% - 1px);
                    transform: translateY(-50%);
                    margin-left: -8px;
                }
            }
        }// /j-searchField

        .j-searchField:hover{
            border: 0px solid #266ED3;
            box-shadow: rgba(15, 84, 182, .54) 0px 2px 7px 0px;
        }

    }// /search-container
}

.glow{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;
    top:0;
    opacity: .75;
    transition: all .15s linear;

    img{
        position: absolute;
        width: 1200px;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
    }
}

.skyline{
    position: absolute;
    display: flex;
    width: 1000px;
    left: calc(50% + 65px);
    right: 0;
    bottom: -1px;
    transform: translateX(-50%);
    opacity: .75;
    transition: all .15s linear;

    img{
        position: absolute;
        left:calc(50% - 70px);
        transform: translateX(-50%);
        bottom:34px;
    }
}

.cloud-small{
    position: absolute;
    overflow: hidden;
    bottom:65px; 
    box-sizing: border-box;
    padding-bottom: 50px;
    transform: translateX(450px);
    width: 110px;
    height: 150px;
    opacity:0;
    animation: cloud-drift 150s linear infinite, cloud-fade 150s linear infinite;
    animation-delay: -18s;
}

.cloud-large{
    position: absolute;
    overflow: hidden;
    bottom:40px;
    transform: translateX(450px);
    width: 140px;
    height: 150px;
    opacity:0;
    animation: cloud-drift 160s linear infinite, cloud-fade 160s linear infinite;
    animation-delay: -110s;
}

@keyframes cloud-drift {
    from {transform: translateX(450px)}
    to {transform: translateX(-450px)}
}

@keyframes cloud-fade {
    0% {opacity: 0}
    50% {opacity: .3}
    100% {opacity: 0}
}


/*-- Large Square Button Section --*/

.lg-btn-overlap{
    margin-top:-60px;
    box-sizing: border-box;
    padding-top:10px;

    .lg-sq-btn{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 90px;
        box-sizing: border-box;
        filter: brightness(100%);
        transition: transform .15s ease-in, filter .15s ease-in;
        box-shadow: rgba(13, 48, 94, 0.2) 5px 14px 18px, rgba(13, 48, 94, 0.1) 10px 8px 14px;

    
        .sq-btn-label{ /*-- Description --*/
            text-align: left;
            margin: 0 auto;
            width: fit-content;
            transform-origin: center;
            display: flex;
            color:var(--blueTextGhost);
            font-size: 15px;
            font-weight: 300;
            text-transform: capitalize;
            transition: transform .15s ease-in;

            img{ /*--Icons in Squares--*/
                margin: 22px 0 12px 0;
                padding: 0 15px 0 0;
                height: 44px;
                opacity: 1;
            } 

            span{  /*-- Main Text --*/
                display: block;
                box-sizing: border-box;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.5em;
            }

            div{
                align-self: center;
                margin: 8px 0 0 0;
            }
            
        }// /sq-btn-label

    } // /lg-sq-btn

    a.lg-sq-btn{
        text-decoration: none;
    }

    .lg-sq-btn:nth-child(1):before, .lg-sq-btn:nth-child(2):before{ // border/pipes
        content:"";
        position: absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);
        display: box;
        border-right:1px solid #8597AE;
        height: 48px;
    }
    
    /*---------------------------*/
    /*-- LG SQ BTN Transitions --*/
    /*---------------------------*/

    .lg-sq-btn:hover{
        cursor: pointer;
        z-index: 2;
        transform: scale(1.03,1.03);
        filter: brightness(125%);
    }

    .lg-sq-btn:hover:before{
        border-right:0 solid #8597AE;
    }

    .lg-sq-btn:hover .sq-btn-label{
        transform: scale(1.05)
    }
    
    
    /*---------------------------*/
    /*---- Lg sq btn styles -----*/
    /*---------------------------*/
    .sq-btn-grid-1{
        background-color:var(--blueMed);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .sq-btn-grid-2{
        background-color:var(--blueMed);
    }
    .sq-btn-grid-3{
        background-color:var(--blueMed);
    }
    .sq-btn-grid-4{
        background-color:var(--red);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        img{
            max-width: 68px;
        }
        
        div{
            color:var(--white) !important;
        }
    }

}

/*--------------------------------------------------------------
.XX RESPONSIVE STARTS
--------------------------------------------------------------*/

@media only screen and (min-width: 991px) { 

    /*-- Sky --*/

    .container-grid-blue-sky{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 235px;
        grid-auto-flow: row;
        grid-template-areas:
        "jcco-logo bobbie quote_search"; 
    }
    .j-main-nav{
        grid-area: nav-1;
    }
    .jcco-logo{
        grid-area: jcco-logo;
    }
    .bobbie{
        grid-area: bobbie;
    }
    .search{
        grid-area: quote_search;
    }

    /*-- LG SQ BTNS --*/

    .container-grid-lg-sq-btns{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0;
        grid-template-areas:
        "bloc-1 bloc-2 bloc-3 bloc-4";
    }
    .sq-btn-grid-1{
        grid-area: bloc-1;
    }
    .sq-btn-grid-2{ 
        grid-area: bloc-2;
    }
    .sq-btn-grid-3{ 
        grid-area: bloc-3;
 
    }
    .sq-btn-grid-4{
        grid-area: bloc-4; 
    }
}// /min 991px


@media only screen and (max-width: 990px) { 

    /*-- Sky --*/
    .container-grid-blue-sky{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 38px 1fr;
        gap: 80px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "nav-1 nav-1 nav-1"
        "jcco-logo bobbie quote_search" 
    }
    .j-main-nav{
        grid-area: nav-1;
    }
    .jcco-logo-container{
        grid-area: jcco-logo;
    }
    .bobbie{
        grid-area: bobbie;
        height: 232px;
        bottom: -17px;
    }
    .search{
        grid-area: quote_search;
    }

    /*-- LG SQ BTNS --*/

    .container-grid-lg-sq-btns{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px 15px;
        grid-template-areas:
        "bloc-1 bloc-2"
        "bloc-3 bloc-4";
    }
    .sq-btn-grid-1{
        grid-area: bloc-1;
        background-color:var(--blueMed);  
    }
    .sq-btn-grid-2{ 
        grid-area: bloc-2;
        background-color:var(--blueMed);   
    }
    .sq-btn-grid-3{ 
        grid-area: bloc-3;
        background-color:var(--blueMed);   
    }
    .sq-btn-grid-4{
        grid-area: bloc-4;
        background-color:var(--red);  
    }

    .lg-sq-btn:nth-child(1):before, .lg-sq-btn:nth-child(2):before{ // border/pipes
        border-right:0px solid #8597AE !important;
    }
    .lg-sq-btn{
        border-radius: 5px;
    } 
}// /max 990px 


@media only screen and (max-width: 970px) { 

    /*-- Sky --*/

    .container-grid-blue-sky{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 110px 0 240px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "jcco-logo"
        "quote_search" 
        "bobbie"; 
    }

    .jcco-logo-container{
        grid-area: jcco-logo;
        width: 100%;
        height: inherit;
        margin: 0 0 0 0;
        display: flex;
        justify-content: center;

        img{
            width: 290px;
            position: relative;
            top:0px;
            transform: inherit;
        }
    }

    .search{
        height: inherit;
        display: flex;
        justify-content: center;

        .search-container{
            position: inherit;
            top: inherit;
            right:inherit;
            transform: inherit; 
        }
    }

    .j-searchField{
        display: none;
    }

}

@media only screen and (max-width: 570px) { 
    .sq-btn-label img{
        display: none !important;
    }

    .sq-btn-label div{
        text-align: center;
        margin: 20px 0 0 0 !important;
    }
}



    